
body {
	background: #353433;
	font: 15px Verdana;
	color: #e9e8e7;
	margin: 0; padding: 0;
	overflow: hidden;
	touch-action: pan-y;
	position: relative;
}
h1 {
	font: bold 40px Helvetica;
	color: #8b8685;
	position: absolute;
	margin: 0; padding: 0;
}

html, body {
	height: 100%;
}

.component {
	box-sizing: border-box;
}

#container.button {
	width: 212.8mm; /* 152mm * 1.4 */
	height: 142.8mm; /* 102mm * 1.4 */
	position: relative;
  margin: auto;
	top: 50%;
  transform: translateY(-50%);
}

#container.button .component {
	position: absolute;
  -webkit-user-select: none;
  user-select: none;
}

.status {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	bottom: 0;
  -webkit-user-select: none;
  user-select: none;
}

body.layout-iidx_left .status {
	bottom: 30px; left: 260px;
}
body.layout-iidx_right .status {
	bottom: 30px; right: 260px;
}
body.layout-turntable .status {
	top: 30px; left: 30px;
}

body.layout-popn .status {
	top: 30px; left: 30px;
}
h1 {
	display: none;
}
.turntable .turntable-inner {
	-webkit-transition: 0.8s opacity;
	box-sizing: border-box;
}
.turntable.extended-no .turntable-inner {
	opacity: 0;
}
.turntable.extended-yes .turntable-inner {
	opacity: 0.8;
}
.turntable.fullscreen-yes .turntable-inner {
	opacity: 1;
}
